<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: Khaki;
        }

      img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 400px;
        } 
    </style>

    <title>Scenario {ScenarioName}</title>
  </head>
  <body>
    {Screenshot1}

    <h1>About</h1>
      <table>
         <tr>
             <td>
               Route
             </td>
             <td>
               {RouteName}
             </td>
         </tr>
         <tr>
             <td>
               Scenario
             </td>
             <td>
               {ScenarioName}
             </td>
         </tr>
         <tr>
             <td>
               Author
             </td>
             <td>
               {Author}
             </td>
         </tr>
            <tr>
             <td>
               File name
             </td>
             {Filename}
             <td>
             </td>
         </tr>

            <tr>
             <td>
               Player engine
             </td>
             <td>
               {PlayerEngine}
             </td>
         </tr>
      </table>
      <p>{Description}
        </p>
        <h1>Services</h1>
        {ServiceList}
      
  </body>
</html> 

