<!DOCTYPE html>
<html>
  <head>
    <title>Scenario {ScenarioName}</title>
  </head>
  <body>

    <h1>About</h1>
      <table>
         <tr>
             <td>
               Route
             </td>
             <td>
               {RouteName}
             </td>
         </tr>
         <tr>
             <td>
               Scenario
             </td>
             <td>
               {ScenarioName}
             </td>
         </tr>
         <tr>
             <td>
               Author
             </td>
             <td>
               {Author}
             </td>
         </tr>
            <tr>
             <td>
               File name
             </td>
             {Filename}
             <td>
             </td>
         </tr>

            <tr>
             <td>
               Player engine
             </td>
             <td>
               {PlayerEngine}
             </td>
         </tr>
      </table>
      <p>{Description}
        </p>
        <h1>Services</h1>
        {ServiceList}
      
  </body>
</html> 

